# ignore Maven generated target folders 
target
/P6/gestorllamadas/nbproject/
/P5/reserva/nbproject/
/P5/P5-reserva/nbproject/
/P6/P6-gestorllamadas/nbproject/
/P6/P6-premio/nbproject/
/P6/P6-webClient/nbproject/